numpy
torch==2.4
transformers
dgl # pip install dgl -f https://data.dgl.ai/wheels/torch-2.4/cu124/repo.html
scikit-learn
gensim
pandas
pydantic
pytorch-nlp
tensorboardx
gensim
graphviz
spacy
tqdm
keybert
sentence-transformers
spacy[cuda118]
cupy-cuda11x
nltk
matplotlib
seaborn